html, body { 
    width: 100%;
    
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    height: 100%;
    width: 100%;
  }
  #content {
    width: 100%;
    
  }
  #content-left {
    background-color: rgb(160, 141, 141);
    padding: 2rem;
  }
  .content-box {
    border: solid 1px gray;
    border-radius: 10px;
    background-color:teal;
    margin-bottom: 1rem;
  }
  
  .value-input {
    width: 100%;
    border-bottom: solid 1px;
    outline: none;
  }

  .value-select {
      height: 10px;
      top: -5px;
      position: relative;
      margin-top: 0px;
      padding-top: 0px;
      padding-left: 15px;
      width: 100%;
  }
  
  
  .box-title {
    width: 100%;
    background-color: yellow;
  }
  
  #content-right {
    padding: 2rem;
    background-color: gray;
  }
  
  #content-right .content-box {
    border: none 0px;
    border-radius: 0px;
  }